# Setting up Conda

Once you've installed anaconda into your machine properly as per the instructions given at [Anaconda Installation Documentation](https://docs.anaconda.com/anaconda/install/), you must be able to see **Anaconda Prompt** as well as **Anaconda Navigator** in your start menu (The notebook content is based on working in *Windows 10 64 bit*). Now it's time thqat you get started with using Anaconda.

The first thing you would like to do is setting up an new environment which would be you workspace from now on for python.
Before getting into it, you might want to get the latest version of conda installed by running the command `conda update -n base conda` from the anaconda prompt. 

Now you would like to create a new enviroment for your python workspace. For that navigate to the directory where you want to do that. In my case I had a dedicated directory for the same so I went there using the command `E:` in the anaconda prompt.
Now to create a new environment use the command `conda create --name YOUR_ENV_NAME` here YOUR_ENV_NAME is the name that you want to give to you environment. It would ask you whether you want to proceed, so enter **y** there and press enter. Now you environment is created. 

## Basic commands in CONDA

* Check the available enviroments: `conda info --envs` or `conda env list`
* Check the packages in an environment: `conda list -n YOUR_ENV_NAME`
* Activate an environment: `activate YOUR_ENV_NAME`
* Deactivate an environment: `deactivate`
* Installing pip inside an environment: `conda install -n YOUR_ENV_NAME pip`

There are several other commands available to use which you may like to check out. These are listed below. For futher reference you may check out the [Conda Documentation](https://conda.io/docs/user-guide/tasks/manage-environments.html).

# Python The Mega Course

## 1. Variables, Data Types

#### 1.1 Various ways to use variables and output formatting

In [1]:
print("Hello World")

Hello World

In [2]:
greeting = "Hello"
print(greeting)

Hello

In [7]:
2var   #this is not valid

SyntaxError: invalid syntax (<ipython-input-7-fd513e52b12b>, line 1)

In [9]:
greeting = "Hello"
name = input("Your name: ")
print(greeting + " " + name)

Your name: Subham
Hello Subham

In [10]:
number = 2
print(number)

2

In [12]:
num1 = 23
num2 = 32
print(num1 + num2)

55

String can be formatted using the format specifiers as show below to print variables and text on the same line

In [18]:
num1, num2 = 23,32
print("Number 1: %d" %(num1))
print("Number 2: %d" %(num2))
print("Number 1 + Number 2: %d" %(num1 + num2))

Number 1: 23
Number 2: 32
Number 1 + Number 2: 55

String can also be formatted as below using the .format string formatter. These are a part of the string .Formatter class

In [19]:
num1, num2 = 23,32
print("Number 1: {}" .format(num1))
print("Number 2: {}" .format(num2))
print("Number 1 + Number 2: {}" .format(num1 + num2))

Number 1: 23
Number 2: 32
Number 1 + Number 2: 55

#### 1.2. Variable types

In [33]:
name = "Subham"
age = 22
gpa = 8.674
marks = '498'

print(type(name))
print(type(age))
print(type(gpa))
print(type(marks))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

#### 1.3. Type casting

In [37]:
age_fl = float(age)
gpa_int = int(gpa)
marks_int = int(marks)

print(type(age_fl))
print(type(gpa_int))
print(type(marks_int))

print('Age: %f' %(age_fl))
print('GPA: %d' %(gpa_int))
print('Marks: %d' %(marks_int))

<class 'float'>
<class 'int'>
<class 'int'>
Age: 22.000000
GPA: 8
Marks: 498

## 2. Numbers and Operators

### 2.1 Operators

In python there are several operators that can be used to perform various operations as show below. Most important is to use the operators correctly with the right pair of parenthesis.

#### 2.1.1. Arithmetic Operators

In [3]:
#Addition
print("22 + 33 = %d" %(22 + 33))

#Subtraction
print("23 - 13 = %d" %(23 - 13))

#Multiplication
print("22 * 33 = %d" %(22 * 33))

#Division
print("22 / 11 = %d" %(22 / 11))

#Exponentiation
print("5**2 = %d" %(5**2))

#Trying out divison by zero
print("22 / 0 = %d" %(22 / 0))

22 + 33 = 55
23 - 13 = 10
22 * 33 = 726
22 / 11 = 2
5**2 = 25
25//2 = 12

ZeroDivisionError: division by zero

#### 2.1.2. Logical Operators

In [13]:
#Logical AND
print("3 and 0 = %d" %(3 and 0))
print("3 and 1 = %d\n" %(3 and 1))

#Logical OR
print("3 or 0 = %d" %(3 or 0))
print("3 or 1 = %d" %(3 or 1))
print("0 or 0 = %d\n" %(0 or 0))

#XOR
print("[xor] 3 ^ 1 = %d\n" %(3 ^ 1))

#Negation Operator
print("not 5 = %d" %(not 5))
print("not 0 = %d" %(not 0))
print("not 5 = %d" %(not (not 5)))

3 and 0 = 0
3 and 1 = 1

3 or 0 = 3
3 or 1 = 3
0 or 0 = 0

[xor] 3 ^ 1 = 2

not 5 = 0
not 0 = 1
not 5 = 1

#### 2.1.3. Relational Operators

In [18]:
#Equals to
print("5 == 4: ", 5 == 4)
print("5 == 5: ", 5 == 5, "\n")

#Not equal to
print("5 != 4: ", 5 != 4)
print("5 != 5: ", 5 != 5, "\n")

#Greater than and Greater than equal to
print("5 > 4: ", 5 > 4)
print("5 >= 5: ", 5 >= 5, "\n")

#Lesser than and Lesser than equal to
print("5 < 4: ", 5 < 4)
print("5 <= 5: ", 5 <= 5, "\n")

5 == 4:  False
5 == 5:  True

5 != 4:  True
5 != 5:  False

5 > 4:  True
5 >= 5:  True

5 < 4:  False
5 <= 5:  True

## 3. Strings

In [19]:
fname = "Subham"
lname = "Sarda"

print(fname)
print(lname)
print(fname + lname)
print(fname + " " + lname)

Subham
Sarda
SubhamSarda
Subham Sarda

In [20]:
print("Length of fname = %d" %(len(fname)))

Length of fname = 6

In [21]:
dir(fname)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
str = "i am learning data science and machine learning with python"
str.capitalize()

'I am learning data science and machine learning with python'

In [37]:
str.title()

'I Am Learning Data Science And Machine Learning With Python'

In [28]:
str.upper()

'I AM LEARNING DATA SCIENCE AND MACHINE LEARNING WITH PYTHON'

In [29]:
str.lower()

'i am learning data science and machine learning with python'

In [30]:
str.swapcase()

'I AM LEARNING DATA SCIENCE AND MACHINE LEARNING WITH PYTHON'

In [31]:
str.split(" ")

['i',
 'am',
 'learning',
 'data',
 'science',
 'and',
 'machine',
 'learning',
 'with',
 'python']

In [32]:
str[1]

' '

In [33]:
str[0]

'i'

In [34]:
str.replace('i', 'I')

'I am learnIng data scIence and machIne learnIng wIth python'

In [35]:
str.replace('i', 'I', 1)

'I am learning data science and machine learning with python'

In [36]:
str.replace('i', 'I', 2)

'I am learnIng data science and machine learning with python'

In [43]:
str.index('learning')

5

In [48]:
str.count('a')

7

In [51]:
str.split("am")

['i ', ' learning data science and machine learning with python']

In [52]:
str[:5]

'i am '

In [53]:
str[-5:]

'ython'

In [54]:
str[:-5]

'i am learning data science and machine learning with p'

In [55]:
str[5:]

'learning data science and machine learning with python'

In [56]:
str[5:11]

'learni'

## 4. Lists

In [64]:
myList1 = [0, 1, 2, 3, 4]
myList1

[0, 1, 2, 3, 4]

In [65]:
myList2 = [5, 6, 7, 8, 9]
myList2

[5, 6, 7, 8, 9]

In [66]:
myList = myList1 + myList2
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
#Returns the index of element 5 in the list
myList.index(5)

6

In [78]:
#Data is always appended at the end of the list
myList.append(10)
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [84]:
#deleting element from index 10
myList.pop(10)
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
#inserting 30 at index 5
myList.insert(5, 30)
myList

[0, 1, 2, 3, 4, 30, 5, 6, 7, 8, 9, 10]

In [88]:
#By default deletion happens at the tail
myList.pop()
myList

[0, 1, 2, 3, 4, 30, 5, 6, 7, 8, 9]

In [1]:
customList = [["Subham Sarda"], ["DoB", "16/05/1996"], ["SIT Passout Year", 2019], ["Current GPA", 8.764]]
print(customList)

[['Subham Sarda'], ['DoB', '16/05/1996'], ['SIT Passout Year', 2019], ['Current GPA', 8.764]]

## 5. Tuples

* __Lists__ are mutable tuples are not
* __Tuples__ are declared as ```tupleName = (Item1, Item2, .... , ItemN)```, __list__ is declared as ```listName = [Item1, Item2, .... , ItemN]```
* Functions return tuples
* __Tuples__ are smaller in size than __lists__

In [4]:
tpl1 = (1, 2, 3, 4, 5)
tpl2 = (6, 7, 8, 9, 10)

print(tpl1 + tpl2)
tpl1.append(5)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
dir(tpl1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
#Counts the occurences of data item in the tuple
tpl1.count(5)

1

In [11]:
#Gives the position of data item in the tuple
tpl2.index(10)

4

## 6. Dictionary

Dictionaries are data structures in Python with key value pairs like ```{"Key" : "Values"}```. These are unoredered collections of data, reason being that here we are not concerened with whatever the order is, we just need the value which can be accessed by using the corresponding key.

In [18]:
student = {"Name" : "Subham Sarda", "College" : "SIT", "Semester" : 7, "GPA" : 8.764, "Company" : "Intel"}
print(student)

{'Name': 'Subham Sarda', 'College': 'SIT', 'Semester': 7, 'GPA': 8.764, 'Company': 'Intel'}

In [20]:
print("Student Name: %s" %(student["Name"]))
print("College Name: %s" %(student["College"]))
print("Semester: %s" %(student["Semester"]))
print("Student GPA: %s" %(student["GPA"]))
print("Employed at: %s" %(student["Company"]))

Student Name: Subham Sarda
College Name: SIT
Semester: 7
Student GPA: 8.764
Employed at: Intel

In [16]:
type(student)

dict

In [19]:
type(student["GPA"])

float

In [21]:
student["Places Visited"] = ["Siliguri", "Kolkata", "Allahabad", "Jaipur"]

In [22]:
print(student)

{'Name': 'Subham Sarda', 'College': 'SIT', 'Semester': 7, 'GPA': 8.764, 'Company': 'Intel', 'Places Visited': ['Siliguri', 'Kolkata', 'Allahabad', 'Jaipur']}

## 7. Functions

Functions are parts of code that justify modularity of a program. In python the syntax of writing a function is as follows:
```def functionName([functionParameter(s)]):
        functionBody
        return statement (if the function has to return anything)```

In [25]:
def sum(num1, num2):
    return num1 + num2

print("Sum = %d" %(sum(5, 6)))

Sum = 11

There can also be multiple functions within a program as illustrated in the folowwing piece of code which makes a basic calculator.

In [30]:
def sum(num1, num2):
    return num1 + num2

def difference(num1, num2):
    return num1 - num2

def product(num1, num2):
    return num1 * num2

def division(num1, num2):
    try:
        return num1 / num2
    except ZeroDivisionError:
        return "NaN"

print("32 + 43 = %d" %(sum(32,43)))
print("322 - 43 = %d" %(difference(322,43)))
print("32 * 43 = %d" %(product(32,43)))
print("322 / 43 = %f" %(division(322,43)))
print("5 / 0 = %s" %(division(5,0)))

32 + 43 = 75
322 - 43 = 279
32 * 43 = 1376
322 / 43 = 7.488372
5 / 0 = NaN

Functions can also be supplied with default arguments, that means when the function is defined some value can already be assigned to the function parameters that can be handy in cases where the user doesn't enter any value or forgets to enter a value or he may not even have to enter a value. 

One thing must be made a note of is that the default parameter must be the last parameter in the function definition, otherwise the interpreter will get confused about which one is the default argument and which one not. Let's see that in the following code:

In [31]:
def simpleInterest(p, t, r = 0.03):
    return p*r*t

print("Simple Interest = %f" %(simpleInterest(20000, 2, 0.03)))

Simple Interest = 1200.000000

In [32]:
def simpleInterest(p, t, r = 0.03):
    return p*r*t

print("Simple Interest = %f" %(simpleInterest(20000, 2)))

Simple Interest = 1200.000000

In [34]:
#This code would give a Syntactical Error
def simpleInterest(p, r = 0.03, t):
    return p*r*t

print("Simple Interest = %f" %(simpleInterest(20000, 2, 0.03)))

SyntaxError: non-default argument follows default argument (<ipython-input-34-d45221154c26>, line 2)

## 8. Conditionals and Loops

In [35]:
door = True
if door:
    print("Door Open")
else:
    print("Door Closed")

Door Open

In [36]:
door = 1
if door:
    print("Door Open")
else:
    print("Door Closed")

Door Open

In [46]:
door = 0
people = 25

if people >= 25 and door == 1:
    print("Too crowdy. Door closing now.")
    door = 0
elif not door:
    print("Already full, door closed now!!")
else:
    print("Get in! Just %d more people allowed." %(25-people))

Already full, door closed now!!

In [47]:
for i in range(1,5):
    print(i*i)

1
4
9
16

In [3]:
cities = ['New York', 'London', 'Los Angeles', 'Mumbai', 'Shanghai', 'Dhaka']
for city in cities:
    print(city)

New York
London
Los Angeles
Mumbai
Shanghai
Dhaka

In [2]:
i = 10
fact = 1
while i>=1:
    fact = fact*i
    i= i-1
print("10! = %d" %fact)

10! = 3628800

In [4]:
names = ["Virat Kohli", "Steve Smith", "Faf du Plessis", "Thisara Perera"]
teams = ["India", "Australia", "South Africa", "Sri Lanka"]

for player,team in zip(names, teams):
    print("Player Name: %s" %player)
    print("Player Team: %s" %team)
    print()

Player Name: Virat Kohli
Player Team: India

Player Name: Steve Smith
Player Team: Australia

Player Name: Faf du Plessis
Player Team: South Africa

Player Name: Thisara Perera
Player Team: Sri Lanka

## 9. File Handling

In [ ]:
#to open a file in write mode. If the file doesn't already exist it will be created then opened
file = open("fileName.txt", "w")

#if you try to write for the second time, the first change will be overwritten as the file is in write mode
file.write("Hello World")

#for the change to take effect, the file must be closed
file.close()

In [ ]:
#to open a file in append mode
file = open("fileName.txt", "a")

#now the previous content will remain intact as the text is now getting appended
file.write("Hello World")

#for the change to take effect, the file must be closed again
file.close()

In [ ]:
#to open a file in append mode
file = open("fileName.txt", "r")

#now we are trying to read from the file
content = file.read()

#once the file has been read, if you try and read it yet again, you won't get anything as the file pointer has reached to the end
#thus we move the pointer to the beginning of the file as follows
file.seek(0)

#now we close the file
file.close()

## 10. Date and Time

In [49]:
import datetime as dt

In [66]:
dateTime = dt.datetime.now()
print(dateTime.strftime("Date: %d %B %Y, %A \nTime: %H:%M:%S [%I:%M:%S %p]"))

Date: 08 June 2018, Friday
Time: 22:01:48 [10:01:48 PM]

The above example shows the basic date time formatting, the entire formatting is available [here](http://strftime.org/)

In [67]:
import calendar as cal

In [74]:
print(cal.calendar(2018, 1))

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [79]:
# Checks whether 2018 is leap or not
cal.isleap(2018)

False

In [86]:
#Prints the calendar for a particular month
print(cal.month(2018, 2, 4, 1))

          February 2018
Mon  Tue  Wed  Thu  Fri  Sat  Sun
                 1    2    3    4
  5    6    7    8    9   10   11
 12   13   14   15   16   17   18
 19   20   21   22   23   24   25
 26   27   28